/* Offer Start Here*/
.offers{
    margin-top: 50px;
    line-height: 35%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Offer End Here*/

/* Start Offers Items section */
.offer-items {
    margin-bottom: 40px;
    margin-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
}
.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.items {
    display: flex;
    align-items: center;
    font-size: 22px;
    padding: 5px;
}
.item-icon {
    width: 20px;
    height: 20px;
    margin:0 20px 5px 0;
}
.strikethrough {
    text-decoration: line-through;
    color: #717171;
}
.show-all-button {
    display: inline-block;
    margin-top: 24px;
    padding: 13px 23px;
    border: 1px solid #222;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #222;
}

/* End Offers Items */